header {
  background: #27262a;

  .header-container {

    display: flex;
    padding: 30px 0;
    @media (max-width: $tablet-width) {
      height: 118px;
      padding: 0 0;
      width: 100%;
    }
    justify-content: space-between;


    .logo-block {

      &__image {
        padding-left: 90px;
        // TABLET
        @media (max-width: $tablet-width) {
          padding-left: 20px;
          padding-top: 22px;
        }

        &--mobile {
          display: none;
        }

        &--mobile {
          @media (max-width: $tablet-width) {
            display: none;
          }
        }


        // MOBILE
        @media (max-width: $phone-width) {
          display: none;
        }
        &--mobile {
          @media (max-width: $phone-width) {
            display: block;
            padding-top: 31px;
            padding-left: 16px;
            margin-left: -5px;
          }
        }

      }

    }

    &__nav-wrapper {
      display: flex;


      @media (max-width: $phone-width) {
        width: 100%;
        justify-content: center;
      }

    }

    .nav {
      display: flex;
      align-items: center;
      // MOBILE
      @media (max-width: $phone-width) {
        display: none;

        position: absolute;
        top: 20%;
        left: 18px;
        background: #27262a;

      }

      &__list-link-item {
        margin-right: 48px;
        font-family: 'Montserrat', sans-serif;
        color: #8d81ac;
        font-size: 16px;
        font-weight: 700;

        &:hover {
          color: #fff;
        }

        @media (max-width: $phone-width) {
          display: block;
          color: #f6f6f6;
          font-size: 26px;
          font-weight: 400;
          padding-bottom: 63px;
          margin-left: 33px;

          &:hover {
            color: #8d81ac;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      &__nav-list {
        display: flex;
        @media (max-width: $tablet-width) {
          padding-top: 83px;
          padding-bottom: 19px;
        }
      }
      @media (max-width: $phone-width) {
        &__nav-list {
          padding-top: 31px;
          flex-direction: column;
        }
      }

      //NAV TOGGLE
      &__toggle {
        display: none;
      }
      @media (max-width: $phone-width) {
        &__toggle {
          display: block;
          border: 0;
          background: none;
          cursor: pointer;

          position: absolute;
          top: 47px;
          right: 15px;
          z-index: 1;
          width: 26px;
          padding: 1px 0;
          font-size: 0;
          color: transparent;

        }


        &__toggle-item {
          display: block;
          width: 100%;
          height: 3px;
          background-color: #e5e3e3;
          border-radius: 20%;
          border-style: none;

          &:before,
          &:after{
            border-style: none;
            content: '';
            width: 100%;
            height: 3px;

            position: absolute;
            background-color: #e5e3e3;
            left: 0;
            z-index: 1;
            border-radius: 20%;
          }

          &:before {
            top: -8px;
          }
          &:after {
            bottom: -8px;
          }
        }

      }


      &__button {

        width: 145px;
        font-family: 'Montserrat', sans-serif;
        height: 38px;
        border: none;
        border-radius: 20px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        background-color: #8d81ac;
        cursor: pointer;
        margin-right: 90px;

        @media (max-width: $tablet-width) {
          margin-right: 20px;
          margin-top: 24px;
        }

        @media (max-width: $phone-width) {
          width: 119px;
          font-size: 15px;
          margin-right: 43px;
          margin-top: 33px;

        }


        &:hover {
          color: #8d81ac;
          background-color: #fff;
        }

      }
    }
  }
}

.menu-mobile-active{
  display: block;

}
