@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700i&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  color: #b0b0b0;
  line-height: 1;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Montserrat', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: bold;
  line-height: 1.2;
  padding: 0;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.33s ease; }
  a:hover, afocus {
    text-decoration: none;
    color: inherit; }

p {
  color: inherit;
  margin: 0;
  padding: 0;
  line-height: 1; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

header {
  background: #27262a; }
  header .header-container {
    display: flex;
    padding: 30px 0;
    justify-content: space-between; }
    @media (max-width: 992px) {
      header .header-container {
        height: 118px;
        padding: 0 0;
        width: 100%; } }
    header .header-container .logo-block__image {
      padding-left: 90px; }
      @media (max-width: 992px) {
        header .header-container .logo-block__image {
          padding-left: 20px;
          padding-top: 22px; } }
      header .header-container .logo-block__image--mobile {
        display: none; }
      @media (max-width: 992px) {
        header .header-container .logo-block__image--mobile {
          display: none; } }
      @media (max-width: 480px) {
        header .header-container .logo-block__image {
          display: none; } }
      @media (max-width: 480px) {
        header .header-container .logo-block__image--mobile {
          display: block;
          padding-top: 31px;
          padding-left: 16px;
          margin-left: -5px; } }
    header .header-container__nav-wrapper {
      display: flex; }
      @media (max-width: 480px) {
        header .header-container__nav-wrapper {
          width: 100%;
          justify-content: center; } }
    header .header-container .nav {
      display: flex;
      align-items: center; }
      @media (max-width: 480px) {
        header .header-container .nav {
          display: none;
          position: absolute;
          top: 20%;
          left: 18px;
          background: #27262a; } }
      header .header-container .nav__list-link-item {
        margin-right: 48px;
        font-family: 'Montserrat', sans-serif;
        color: #8d81ac;
        font-size: 16px;
        font-weight: 700; }
        header .header-container .nav__list-link-item:hover {
          color: #fff; }
        @media (max-width: 480px) {
          header .header-container .nav__list-link-item {
            display: block;
            color: #f6f6f6;
            font-size: 26px;
            font-weight: 400;
            padding-bottom: 63px;
            margin-left: 33px; }
            header .header-container .nav__list-link-item:hover {
              color: #8d81ac; }
            header .header-container .nav__list-link-item:last-child {
              padding-bottom: 0; } }
      header .header-container .nav__nav-list {
        display: flex; }
        @media (max-width: 992px) {
          header .header-container .nav__nav-list {
            padding-top: 83px;
            padding-bottom: 19px; } }
      @media (max-width: 480px) {
        header .header-container .nav__nav-list {
          padding-top: 31px;
          flex-direction: column; } }
      header .header-container .nav__toggle {
        display: none; }
      @media (max-width: 480px) {
        header .header-container .nav__toggle {
          display: block;
          border: 0;
          background: none;
          cursor: pointer;
          position: absolute;
          top: 47px;
          right: 15px;
          z-index: 1;
          width: 26px;
          padding: 1px 0;
          font-size: 0;
          color: transparent; }
        header .header-container .nav__toggle-item {
          display: block;
          width: 100%;
          height: 3px;
          background-color: #e5e3e3;
          border-radius: 20%;
          border-style: none; }
          header .header-container .nav__toggle-item:before, header .header-container .nav__toggle-item:after {
            border-style: none;
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            background-color: #e5e3e3;
            left: 0;
            z-index: 1;
            border-radius: 20%; }
          header .header-container .nav__toggle-item:before {
            top: -8px; }
          header .header-container .nav__toggle-item:after {
            bottom: -8px; } }
      header .header-container .nav__button {
        width: 145px;
        font-family: 'Montserrat', sans-serif;
        height: 38px;
        border: none;
        border-radius: 20px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        background-color: #8d81ac;
        cursor: pointer;
        margin-right: 90px; }
        @media (max-width: 992px) {
          header .header-container .nav__button {
            margin-right: 20px;
            margin-top: 24px; } }
        @media (max-width: 480px) {
          header .header-container .nav__button {
            width: 119px;
            font-size: 15px;
            margin-right: 43px;
            margin-top: 33px; } }
        header .header-container .nav__button:hover {
          color: #8d81ac;
          background-color: #fff; }

.menu-mobile-active {
  display: block; }

.main .fork-app {
  background: url("../../src/img/background-main.png") no-repeat 0 0;
  width: 100%;
  height: 800px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center; }
  .main .fork-app__container {
    text-align: center; }
  .main .fork-app__title-first {
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px;
    color: #ffffff;
    font-size: 82px;
    font-weight: 700; }
    @media (max-width: 992px) {
      .main .fork-app__title-first {
        font-size: 72px; } }
    @media (max-width: 480px) {
      .main .fork-app__title-first {
        font-size: 48px; } }
  .main .fork-app__title-second {
    font-family: 'Lato', sans-serif;
    margin-top: 18px;
    color: #8d81ac;
    font-size: 30px;
    font-weight: 400; }
    @media (max-width: 992px) {
      .main .fork-app__title-second {
        font-size: 24px; } }
    @media (max-width: 480px) {
      .main .fork-app__title-second {
        font-size: 18px; } }
  .main .fork-app__title-last {
    font-family: 'Montserrat', sans-serif;
    margin-top: 18px;
    color: #848e97;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase; }
    @media (max-width: 992px) {
      .main .fork-app__title-last {
        font-size: 14px;
        line-height: 20.45px; } }
.main .download-free {
  position: relative;
  top: -32px;
  text-align: center; }
  .main .download-free__button {
    font-family: 'Montserrat', sans-serif;
    width: 390px;
    height: 62px;
    background-color: #8d81ac;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 21px;
    font-weight: 700; }
    @media (max-width: 480px) {
      .main .download-free__button {
        font-size: 18px;
        width: 290px; } }
  .main .download-free__text-btn {
    font-family: 'Montserrat', sans-serif;
    margin: 19px 0 0; }
    @media (max-width: 992px) {
      .main .download-free__text-btn {
        font-size: 14px;
        font-weight: 400; } }
.main .revolutionary {
  padding: 130px 0 71px 0; }
  @media (max-width: 992px) {
    .main .revolutionary {
      padding: 96px 0 100px 0; } }
  @media (max-width: 480px) {
    .main .revolutionary {
      padding: 73px 0 87px 0; } }
  .main .revolutionary__title {
    font-size: 54px;
    text-align: center;
    color: #635c73;
    font-weight: bold;
    padding-bottom: 38px;
    text-transform: uppercase; }
    @media (max-width: 992px) {
      .main .revolutionary__title {
        font-size: 42px; } }
    @media (max-width: 480px) {
      .main .revolutionary__title {
        font-size: 26px;
        padding-bottom: 23px;
        line-height: 1.5; } }
  .main .revolutionary__text {
    font-size: 21px;
    text-align: center;
    line-height: 1.5;
    color: #aaa;
    max-width: 880px;
    margin: 0 auto;
    padding-bottom: 37px; }
    @media (max-width: 992px) {
      .main .revolutionary__text {
        max-width: 664px; } }
    @media (max-width: 480px) {
      .main .revolutionary__text {
        font-size: 14px; } }
  .main .revolutionary .button-wrapper {
    max-width: 365px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 480px) {
      .main .revolutionary .button-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; } }
    .main .revolutionary .button-wrapper__item {
      border: 1px solid #d5d5d5;
      max-width: 33.3333%;
      margin-right: 10px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      padding-right: 8px;
      cursor: pointer; }
      @media (max-width: 992px) {
        .main .revolutionary .button-wrapper__item {
          margin-bottom: 20px;
          width: 45%; } }
      .main .revolutionary .button-wrapper__item:last-child {
        margin-right: 0; }
    .main .revolutionary .button-wrapper__button {
      display: flex;
      align-items: center;
      border: 1px solid #d5d5d5;
      padding: 7px 11px;
      background: #f2f2f2;
      color: #24292e;
      font-size: 12px;
      font-weight: 600;
      height: 100%; }
      @media (max-width: 480px) {
        .main .revolutionary .button-wrapper__button {
          font-size: 10px;
          padding: 4px 8px;
          border: none; } }
      .main .revolutionary .button-wrapper__button:hover {
        background-color: #e6ebf1;
        background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
        border: 1px solid rgba(27, 31, 35, 0.35); }
    .main .revolutionary .button-wrapper__icon {
      padding-right: 3px; }
    .main .revolutionary .button-wrapper__counter {
      padding: 3px 10px;
      color: #24292e;
      font-size: 12px;
      font-weight: 600; }
      @media (max-width: 480px) {
        .main .revolutionary .button-wrapper__counter {
          font-size: 10px; } }
      .main .revolutionary .button-wrapper__counter:hover {
        color: #0366d6; }
.main .what-you-get {
  background: #f4f4f4;
  padding: 88px 0 54px 0;
  position: relative;
  overflow: hidden; }
  .main .what-you-get:after {
    content: '';
    position: absolute;
    background: url("../img/what-you-get_background.png") no-repeat 0 0;
    width: 50%;
    height: 100%;
    bottom: 0;
    top: 30%;
    right: -5%;
    -webkit-background-size: contain;
    background-size: contain; }
  @media (max-width: 992px) {
    .main .what-you-get {
      padding: 58px 0 400px 0; }
      .main .what-you-get:after {
        width: 99%;
        top: 70%; } }
  @media (max-width: 480px) {
    .main .what-you-get {
      padding: 37px 0 200px 0; }
      .main .what-you-get:after {
        width: 99%;
        top: 88%; } }
  .main .what-you-get__container {
    display: flex; }
    @media (max-width: 992px) {
      .main .what-you-get__container {
        flex-direction: column-reverse; } }
    .main .what-you-get__container .left-column,
    .main .what-you-get__container .right-column {
      width: 50%; }
      @media (max-width: 992px) {
        .main .what-you-get__container .left-column,
        .main .what-you-get__container .right-column {
          width: 100%; } }
    .main .what-you-get__container .left-column {
      padding-right: 110px; }
      @media (max-width: 992px) {
        .main .what-you-get__container .left-column {
          padding-right: 0; } }
      .main .what-you-get__container .left-column__item {
        display: flex;
        margin-bottom: 30px; }
        @media (max-width: 480px) {
          .main .what-you-get__container .left-column__item {
            flex-direction: column;
            align-items: center;
            justify-content: center; } }
      .main .what-you-get__container .left-column__item-image-wrapper {
        width: 20%;
        display: inline-block;
        padding-right: 28px;
        text-align: center; }
        @media (max-width: 992px) {
          .main .what-you-get__container .left-column__item-image-wrapper {
            max-width: 15%; } }
        @media (max-width: 480px) {
          .main .what-you-get__container .left-column__item-image-wrapper {
            margin-bottom: 30px;
            width: 100%;
            max-width: 109px;
            padding: 0; } }
      .main .what-you-get__container .left-column__image {
        object-fit: contain; }
      .main .what-you-get__container .left-column__text-wrapper {
        width: 80%; }
        @media (max-width: 480px) {
          .main .what-you-get__container .left-column__text-wrapper {
            width: 100%;
            text-align: center; } }
      .main .what-you-get__container .left-column .text-wrapper__item-title {
        font-size: 16px;
        font-weight: 600;
        color: #323232;
        padding-bottom: 20px; }
      .main .what-you-get__container .left-column .text-wrapper__item-full-text {
        font-family: Lato;
        color: #848e97;
        font-size: 14px;
        line-height: 1.5; }
    .main .what-you-get__container .right-column {
      position: relative; }
      .main .what-you-get__container .right-column:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 447px;
        -webkit-background-size: contain;
        background-size: contain;
        left: 50%;
        bottom: 54px; }
      .main .what-you-get__container .right-column__title {
        font-size: 48px;
        font-weight: bold;
        color: #635c73; }
        @media (max-width: 992px) {
          .main .what-you-get__container .right-column__title {
            text-align: center;
            font-size: 42px;
            margin-bottom: 62px; } }
        @media (max-width: 480px) {
          .main .what-you-get__container .right-column__title {
            font-size: 32px; } }
.main .people-talking {
  background: url("../img/people-background.png") no-repeat 0 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  padding-top: 100px; }
  .main .people-talking__title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-bottom: 90px; }
    @media (max-width: 992px) {
      .main .people-talking__title {
        font-size: 42px; } }
    @media (max-width: 480px) {
      .main .people-talking__title {
        font-size: 36px; } }
  .main .people-talking .list-wrapper {
    display: flex;
    flex-wrap: wrap; }
    .main .people-talking .list-wrapper__item {
      width: 33.33%;
      text-align: center;
      margin-bottom: 100px;
      color: #fff;
      padding-right: 77px; }
      .main .people-talking .list-wrapper__item:nth-child(3), .main .people-talking .list-wrapper__item:nth-child(6) {
        padding-right: 0; }
      @media (max-width: 992px) {
        .main .people-talking .list-wrapper__item {
          width: 50%;
          padding-right: 0; } }
      @media (max-width: 480px) {
        .main .people-talking .list-wrapper__item {
          width: 100%; } }
    .main .people-talking .list-wrapper__image {
      height: 65px;
      margin-bottom: 26px; }
      .main .people-talking .list-wrapper__image img {
        object-fit: contain;
        max-width: 100%; }
    .main .people-talking .list-wrapper__content {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700;
      font-style: italic; }
      @media (max-width: 992px) {
        .main .people-talking .list-wrapper__content {
          margin: 0 auto;
          width: 70.4%; } }
      @media (max-width: 480px) {
        .main .people-talking .list-wrapper__content {
          margin-bottom: -46px; } }
    .main .people-talking .list-wrapper__bottom {
      text-align: center;
      opacity: 0.8;
      color: #a291a5;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin-bottom: 15px;
      width: 100%; }
      @media (max-width: 992px) {
        .main .people-talking .list-wrapper__bottom {
          padding: 0 43px 0 51px; } }
      @media (max-width: 480px) {
        .main .people-talking .list-wrapper__bottom {
          display: none; } }
.main .subscription-wrapper {
  background: url("../../src/img/fork-background.png") no-repeat 0 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  padding: 81px 0 137px 0; }
  @media (max-width: 992px) {
    .main .subscription-wrapper {
      padding-bottom: 46px; } }
  .main .subscription-wrapper__container {
    padding: 0 44px; }
    @media (max-width: 992px) {
      .main .subscription-wrapper__container {
        padding: 0; } }
  .main .subscription-wrapper__title {
    font-size: 42px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 71px; }
    @media (max-width: 992px) {
      .main .subscription-wrapper__title {
        margin-bottom: 46px; } }
    @media (max-width: 480px) {
      .main .subscription-wrapper__title {
        font-size: 28px; } }
  .main .subscription-wrapper .subscription-list {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 992px) {
      .main .subscription-wrapper .subscription-list {
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media (max-width: 480px) {
      .main .subscription-wrapper .subscription-list {
        padding: 0 15px;
        flex-direction: column;
        flex-wrap: nowrap; } }
    .main .subscription-wrapper .subscription-list__item {
      width: 25%;
      margin-right: 15px;
      position: relative; }
      @media (max-width: 992px) {
        .main .subscription-wrapper .subscription-list__item {
          width: 38%;
          margin-bottom: 40px; }
          .main .subscription-wrapper .subscription-list__item:nth-child(3), .main .subscription-wrapper .subscription-list__item:nth-child(4) {
            margin-bottom: 0; }
          .main .subscription-wrapper .subscription-list__item:nth-child(2), .main .subscription-wrapper .subscription-list__item:nth-child(4) {
            margin-right: 0; } }
      @media (max-width: 480px) {
        .main .subscription-wrapper .subscription-list__item {
          width: 100%; }
          .main .subscription-wrapper .subscription-list__item:nth-child(1), .main .subscription-wrapper .subscription-list__item:nth-child(2), .main .subscription-wrapper .subscription-list__item:nth-child(3), .main .subscription-wrapper .subscription-list__item:nth-child(4) {
            margin: 0 0 14px 0; } }
      .main .subscription-wrapper .subscription-list__item:before {
        content: '';
        position: absolute;
        background: url("../../src/img/fork-item-bg.png") no-repeat 0 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        z-index: 0; }
      .main .subscription-wrapper .subscription-list__item:last-child {
        margin-right: 0; }
    .main .subscription-wrapper .subscription-list__item-title {
      text-align: center;
      font-size: 24px;
      color: #fff;
      padding: 45px 0 35px 0;
      background: #705e6b;
      text-transform: uppercase;
      font-family: Arial;
      position: relative;
      z-index: 1; }
      @media (max-width: 992px) {
        .main .subscription-wrapper .subscription-list__item-title {
          font-size: 20px; } }
    .main .subscription-wrapper .subscription-list .item-content {
      padding: 32px 0 40px 0;
      text-align: center;
      font-family: Arial;
      position: relative;
      z-index: 1; }
      .main .subscription-wrapper .subscription-list .item-content__summ {
        font-size: 60px;
        color: #fff;
        font-weight: bold;
        padding-bottom: 35px; }
      .main .subscription-wrapper .subscription-list .item-content__summ-ico {
        font-weight: 400; }
      .main .subscription-wrapper .subscription-list .item-content__term {
        text-transform: uppercase;
        font-size: 14px;
        color: #a096a1;
        padding-bottom: 39px; }
      .main .subscription-wrapper .subscription-list .item-content__line {
        display: block;
        width: 60px;
        height: 5px;
        margin: 0 auto 32px auto;
        background: #8d81ac; }
      .main .subscription-wrapper .subscription-list .item-content__description {
        color: #fff;
        margin-bottom: 68px; }
      .main .subscription-wrapper .subscription-list .item-content .subscription-description {
        margin-bottom: 40px; }
        .main .subscription-wrapper .subscription-list .item-content .subscription-description__item {
          display: inline-block;
          margin-bottom: 16px; }
          .main .subscription-wrapper .subscription-list .item-content .subscription-description__item:last-child {
            margin-bottom: 0; }
      .main .subscription-wrapper .subscription-list .item-content__button {
        background: #746a77;
        font-size: 15px;
        text-transform: uppercase;
        border: none;
        border-radius: 25px;
        padding: 16px 47px;
        color: #fff;
        cursor: pointer; }
        @media (max-width: 992px) {
          .main .subscription-wrapper .subscription-list .item-content__button {
            padding: 15px 38px; } }
    .main .subscription-wrapper .subscription-list .subscription-list__item--active {
      position: relative;
      width: 26.5%; }
      @media (max-width: 992px) {
        .main .subscription-wrapper .subscription-list .subscription-list__item--active {
          width: 46%;
          margin-bottom: 0;
          padding-bottom: 0; } }
      @media (max-width: 480px) {
        .main .subscription-wrapper .subscription-list .subscription-list__item--active {
          width: 100%;
          margin-bottom: 14px; } }
      .main .subscription-wrapper .subscription-list .subscription-list__item--active:before {
        content: '';
        position: absolute;
        background: url("../../src/img/fork-background-acrive.png") !important;
        background-repeat: repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        z-index: 0; }
      .main .subscription-wrapper .subscription-list .subscription-list__item--active .subscription-list__item-title {
        padding: 51px 0 43px 0;
        background: #3e303d; }
      .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content {
        padding: 23px 0 47px 0; }
        .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content__summ {
          font-size: 82px;
          padding-bottom: 23px; }
        .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content__term {
          padding-bottom: 49px; }
        .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content__line {
          margin-bottom: 43px; }
        .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content .subscription-description {
          margin-bottom: 82px; }
          .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content .subscription-description__item {
            display: inline-block;
            margin-bottom: 20px; }
            .main .subscription-wrapper .subscription-list .subscription-list__item--active .item-content .subscription-description__item:last-child {
              margin-bottom: 0; }

/*# sourceMappingURL=app.css.map */
